@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: RobotoSlab;
  font-display: swap;
  src: url("../fonts/RobotoSlab-ExtraBold.woff2") format("woff2"), url("../fonts/RobotoSlab-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100vh;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1;
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

hr:not([size]) {
  height: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  line-height: inherit;
  font-size: inherit;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 0.875em;
}

sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

a:not([href]),
a:not([href]):hover {
  text-decoration: none;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em;
}

pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}

code {
  font-size: 0.875em;
  color: #d63384;
  word-wrap: break-word;
}

a > code {
  color: inherit;
}

kbd {
  padding: 0.2rem 0.4rem;
  font-size: 0.875em;
  color: #fff;
  background-color: #212529;
  border-radius: 0.2rem;
}

kbd kbd {
  padding: 0;
  font-size: 1em;
  font-weight: 700;
}

figure {
  margin: 0 0 1rem;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  display: block;
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

[list]::-webkit-calendar-picker-indicator {
  display: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type=date],
input[type=time],
input[type=datetime-local],
input[type=month] {
  -webkit-appearance: textfield;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

mark {
  padding: 0.2em;
  background-color: #fcf8e3;
}

progress {
  vertical-align: baseline;
}

::-webkit-datetime-edit {
  overflow: visible;
  line-height: 0;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

main {
  display: block;
}

[hidden] {
  display: none !important;
}

.btn {
  display: inline-block;
  background: transparent;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-family: Roboto;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1;
  background-color: #5ca6ea;
  border-radius: 0.8rem;
  padding: 1.5rem 4rem;
  border-radius: 1rem;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #0085ff;
}

.header__body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 11.5rem;
  height: 115px;
}

.logo__link {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-family: RobotoSlab;
  font-weight: 700;
  color: #343434;
  transition: color 0.2s ease-in;
}

.logo__link img {
  margin-right: 10px;
}

.logo__link:hover {
  color: #5ca6ea;
}

.wellcome {
  margin-top: 9.5rem;
  margin-top: 95px;
}

.wellcome__row {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

.wellcome__content {
  flex: 0 1 calc(50% - 1rem);
}

.wellcome__image {
  display: flex;
  flex-direction: column;
  flex: 1 1 calc(50% - 1rem);
}

.wellcome__image img {
  width: 100%;
}

.subtitle {
  color: #5ca6ea;
  font-family: Roboto;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.title {
  color: #343434;
  font-family: RobotoSlab;
  font-size: 45px;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 30px;
}

.title span {
  color: #5ca6ea;
}

.desc {
  color: #4d4d4d;
  font-family: Roboto;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.35px;
  margin-bottom: 4.5rem;
  margin-bottom: 45px;
}

[class*=__container] {
  max-width: 1293px;
  margin: 0 auto;
  padding: 0 1.5rem;
  box-sizing: content-box;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

.modal.active {
  opacity: 1;
  visibility: visible;
}

.modal__wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.modal__dialog {
  display: table-cell;
  vertical-align: middle;
  padding: 1.5rem;
}

.modal__content {
  max-width: 80%;
  margin: 0 auto;
  border-radius: 1rem;
  background-color: #fff;
  transform: scale(0);
  transition: transform 0.4s ease-in-out;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
}

.active .modal__content {
  transform: scale(1);
}

.header-modal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
}

.header-modal__close {
  background-color: transparent;
  font-weight: 700;
  font-size: 3rem;
  transition: transform 0.1s, opacity 0.3s ease-in-out;
  opacity: 0.5;
  border: none;
}

.header-modal__close:active {
  transform: scale(0.75);
}

.header-modal__close:focus {
  outline: none;
}

.body-modal {
  padding: 1rem;
}

.footer-modal {
  border-top: 1px solid #e9ecef;
  padding: 1rem;
}

/*
Fonts
Roboto
RobotoSlab
*/

html,
body {
  height: 100vh;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Roboto;
  font-size: 1.6rem;
  background: #fdfeff;
  font-weight: 300;
}

body.no-scroll {
  overflow: hidden;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.page {
  flex: 1 1 auto;
}

@media (max-width: 1293px) {
  .header__body {
    height: calc(60px + 55 * (100vw - 320px) / 973);
  }

  .logo__link img {
    margin-right: calc(8px + 2 * (100vw - 320px) / 973);
  }

  .wellcome {
    margin-top: calc(15px + 80 * (100vw - 320px) / 973);
  }

  .subtitle {
    margin-bottom: calc(15px + 5 * (100vw - 320px) / 973);
  }

  .title {
    font-size: calc(25px + 20 * (100vw - 320px) / 973);
  }

  .title {
    margin-bottom: calc(20px + 10 * (100vw - 320px) / 973);
  }

  .desc {
    margin-bottom: calc(20px + 25 * (100vw - 320px) / 973);
  }
}

@media (max-width: 767.98px) {
  .wellcome__content {
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: flex-start;
  }

  .wellcome__image {
    flex: auto;
    margin-top: 30px;
  }
}

@media (max-width: 767.98px) and (max-width: 1293px) {
  .wellcome__image {
    margin-top: calc(15px + 15 * (100vw - 320px) / 973);
  }
}

@media (max-width: 575.98px) {
  .wellcome__content {
    align-items: stretch;
  }

  .modal__content {
    max-width: none;
  }
}

@media (any-hover: hover) {
  .header-modal__close:hover {
    opacity: 1;
  }
}